[submodule "native/tools/sokol-tools-bin"]
	path = native/tools/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
    branch = origin/master
[submodule "native/thirdparty/sokol"]
	path = native/thirdparty/sokol
	url = https://github.com/floooh/sokol.git
    branch = origin/master
